<table class='table '>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Holiday</th>
      <th>Attending</th>
      <th class='text-center'>Wishlists</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% families.each do |family| %>
      <tr>
        <td>
          <%= link_to family.name, admin_family_path(family), class: 'btn btn-sm btn-link' %>
        </td>
        <td>
          <%= family.address %>
        </td>
        <td>
          <%= family.holiday %>
        </td>
        <td>
          <%= family.is_attending ? 'yes' : 'no' %><br>
          <% if family.is_attending %>
            <%= truncate(family.attendance_selection, length: 15) %>
          <% end %>
        </td>
        <td class='text-center'>
          <%= link_to pluralize(family.lists.count, 'wishlists'), admin_lists_path(family_id: family), class: 'btn btn-sm btn-link' %>
        </td>
        <td class='text-end'>
          <%= render 'admin/families/actions', family: family %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
