<div class='row mb-4'>
  <div class='col-sm-6'>
    <ul class="nav nav-pills">
      <% ['all', 'pending', 'completed', 'support_requested'].each do |scope| %>
        <li class="nav-item">
          <% if scope == 'all' %>
            <%= link_to scope.titleize, url_for(scope: nil), class: "nav-link #{params[:scope].nil? ? 'active' : ''}" %>
          <% else %>
            <%= link_to scope.titleize, url_for(scope: scope), class: "nav-link #{scope == params[:scope] ? 'active' : ''}" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-sm-6 text-end'>
    <%= link_to "Export to CSV", url_for(format: "csv"), class: "btn btn-outline-secondary" %>
    <div class='d-inline-block'>
      <%= render 'shared/search' %>
    </div>
  </div>
</div>


<table class='table '>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Holiday</th>
      <th>Attending</th>
      <th class='text-center'>Wishlists</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td>
          <%= link_to family.name, admin_family_path(family) %>
        </td>
        <td>
          <%= family.address %>
        </td>
        <td>
          <%= family.holiday %>
        </td>
        <td>
          <%= family.is_attending ? 'yes' : 'no' %><br>
          <% if family.is_attending %>
            <%= truncate(family.attendance_selection, length: 15) %>
          <% end %>
        </td>
        <td class='text-center'>
          <%= link_to pluralize(family.lists.count, 'wishlists'), admin_lists_path(family_id: family), class: 'btn btn-sm btn-link' %>
        </td>
        <td class='text-end'>
          <% if false %>
            <%= link_to 'Edit', edit_admin_family_path(family), class: 'btn btn-sm btn-outline-secondary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
