
<%= simple_form_for([@event, @family, @list]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class='card'>
    <% if defined?(title) %>
      <div class='card-header'>
        <h1><%= title %></h1>
      </div>
    <% end %>

    <div class='card-body'>
      <% if defined?(description) %>
        <p><%= description %></p>
      <% end %>

      <div class='field'>
        <%= f.input :name, input_html: { class: 'form-control' }, label: "Child's Name" %>
      </div>

      <div class='field'>
        <%= f.input :age, input_html: { class: 'form-control' }, label: "Child's Age" %>
      </div>

      <div class='field'>
        <%= f.input :gender, collection: ['male', 'female', 'nonbinary'], input_html: { class: 'form-control' }, label: "Child's Gender" %>
      </div>

      <div class='field'>
        <%= f.input :is_qualified, input_html: { class: 'form-control' }, collection: { 'Yes' => true, 'No' => false }, label: "Is child in foster care?" %>
      </div>

      <div class='field'>
        <%= f.input :gift_card_store, input_html: { class: 'form-control' }, label: 'Where would your child be excited to get a gift card from?' %>
      </div>

      <h2>Items</h2>
      <p>Please be as specific as possible when filling out the form for each child in your household! We will aim to get the exact items requested, but may get ones that are similar in nature (e.g. American Girl Doll is requested, Truly Me doll is provided).</p>
      <%= f.association :list_items do |li| %>
        <%= render 'list_item_fields', f: li %>
      <% end %>

      <%= link_to_add_fields "Add Item", f, :list_items %>
    </div>

    <div class="card-footer">
      <%= f.button :submit, 'Submit Wishlist', class: 'btn btn-primary btn-lg w-100' %>
    </div>
  </div>
<% end %>
