<div id="<%= dom_id list %>">
  <p>
    <strong>Family:</strong>
    <%= list.family_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= list.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= list.gender %>
  </p>

  <p>
    <strong>Gift card store:</strong>
    <%= list.gift_card_store %>
  </p>

</div>
