<div class='container w-md text-center'>
  
  <%= link_to 'View All Wishlists', event_lists_path(@event), class: 'btn btn-outline d-block mb-4' %>

  <div class='card'>
    <div class='card-header'>
      <h1><%= @list.alias %> <em class='text-muted small lead'>(alias)</em></h1>
    </div>
    <div class='card-body'>

      <% unless @list.sponsor.present? %>
        <p class='lead'>
          This wishlist is for a <%= @list.gender %> child (<%= @list.age %>) living in <%= @list.family.address %> County.
          By claiming this wishlist, you are committing to spend $100 and deliver or ship the gifts to our Alpharetta office by December 2nd.
        </p>

        <table class='table text-start'>
          <thead>
            <tr>
              <th>Item Name</th>
            </tr>
          </thead>
          <tbody>
            <% @list.list_items.each do |list_item| %>
              <tr>
                <td>
                  <%= list_item.name %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class='lead'>
          Thank you for claiming this wishlist! Please check your email for confirmation and additional details.<br>If you'd like to sponsor additional wishlists, click below.
        </p>
      <% end %>
    </div>
    <div class='card-footer'>
      <% if @list.sponsor.present? %>
        <%= link_to 'View All Wishlists', event_lists_path(@event), class: 'btn btn-primary btn-lg d-block' %>
      <% else %>
        <%= link_to 'Claim Wishlist', claim_event_list_path(@event, @list), class: 'btn btn-primary btn-lg d-block' %>
      <% end %>
    </div>
  </div>
</div>
