<p>
  <strong>Name:</strong>
  <%= list.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= list.family.name %> (<%= list.family.email %>)
</p>

<p>
  <strong>Age:</strong>
  <%= list.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= list.gender %>
</p>

<p>
  <strong>Gift Card:</strong>
  <%= list.gift_card_store %>
</p>

