<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Status</th>
      <th>Family</th>
      <th>Sponsor</th>
      <th class='text-center'>Age</th>
      <th class='text-center'>Items</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% lists.each do |list| %>
      <tr>
        <td>
          <%= list.name %>
          <div class='small'><%= format_date(list.created_at) %></div>
        </td>
        <td>
          <%= list.alias %>
        </td>
        <td>
          <%= list.status %>
        </td>
        <td>
          <%= link_to list.family&.name, [:admin, list.family] %>
        </td>
        <td>
          <%= link_to list.sponsor&.full_name, [:admin, list.sponsor] if list.sponsor.present? %>
        </td>
        <td class='text-center'>
          <%= list.age %>
        </td>
        <td class='text-center'>
          <%= list.list_items.count %>
        </td>
        <td class='text-end'>
          <%= render 'admin/lists/actions', list: list %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>