<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Family</th>
      <th>Sponsor</th>
      <th class='text-center'>Age</th>
      <th class='text-center'>Items</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% lists.each do |list| %>
      <tr>
        <td>
          <%= list.name %>
          <div class='small'><%= format_date(list.created_at) %></div>
        </td>
        <td>
          <%= list.status %>
        </td>
        <td>
          <%= link_to list.family&.name, [:admin, list.family] %>
        </td>
        <td>
          <%= link_to list.sponsor&.full_name, [:admin, list.sponsor] if list.sponsor.present? %>
        </td>
        <td class='text-center'>
          <%= list.age %>
        </td>
        <td class='text-center'>
          <%= list.list_items.count %>
        </td>
        <td class='text-end'>
          <div class="dropdown">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              actions
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit List', edit_admin_list_path(list), class: 'dropdown-item' %></li>
              <li><%= link_to 'View List', [:admin, list], class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Delete List', [:admin, list], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger dropdown-item' %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>