<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= event.slug %>
  </p>

  <%= new_event_family_url(event) %>

  <h2>Families</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Wishlists</th>
      </tr>
    </thead>
    <tbody>
      <% event.families.each do |family| %>
        <tr>
          <td>
            <%= family.name %>
          </td>
          <td>
            <%= family.email %>
          </td>
          <td>
            <%= family.lists.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
