<div id="<%= dom_id family %>">
  <p>
    <strong>Name:</strong>
    <%= family.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= family.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= family.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= family.address %>
  </p>

  <p>
    <strong>Holiday:</strong>
    <%= family.holiday %>
  </p>

  <p>
    <strong>Wrap gifts:</strong>
    <%= family.wrap_gifts %>
  </p>

  <p>
    <strong>Household caregivers count:</strong>
    <%= family.household_caregivers_count %>
  </p>

  <p>
    <strong>Household children count:</strong>
    <%= family.household_children_count %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= family.slug %>
  </p>

</div>
