<%= simple_form_for([@event, @family]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class='card'>
    <% if defined?(title) %>
      <div class='card-header'>
        <h1><%= title %></h1>
      </div>
    <% end %>

    <div class='card-body'>
      <% if defined?(description) %>
        <p><%== description %></p>
      <% end %>

      <div class='field'>
        <%= f.input :name, input_html: { class: 'form-control' }, label: 'Your Name' %>
      </div>

      <div class='field'>
        <%= f.input :phone, input_html: { class: 'form-control' }, label: 'Your Phone Number' %>
      </div>

      <div class='field'>
        <%= f.input :email, input_html: { class: 'form-control' }, label: 'Your Email' %>
      </div>

      <div class='field'>
        <%= f.input :address, input_html: { class: 'form-control' }, label: 'County of Residence', collection: ['Cobb', 'Paulding', 'Fulton', 'DeKalb', 'Cherokee', 'Gwinnett', 'Forsyth', 'Rockdale', 'Henry', 'Clayton', 'Douglas'].sort, include_blank: 'Select a County' %>
      </div>

      <div class='field'>
        <%= f.input :holiday, input_html: { class: 'form-control' }, label: 'What Holiday do you celebrate?' %>
      </div>

      <div class='field'>
        <%= f.input :wrap_gifts, collection: ['Yes, please wrap', 'No'], as: :select, input_html: { class: 'form-control' }, label: 'Would you link the gifts wrapped?', include_blank: false, hint: "We will include a full inventory of every item regardless" %>
      </div>

      <div class='field'>
        <%= f.input :household_caregivers_count, collection: 1..4, input_html: { class: 'form-control' }, label: "How many caregivers are in the home?", include_blank: false %>
      </div>

      <div class='field'>
        <%= f.input :household_children_count, collection: 1..10, input_html: { class: 'form-control' }, label: "How many children are in the home?", include_blank: false %>
      </div>

      <div class='field'>
        <%= f.input :is_attending, as: :radio_buttons, collection: [ 
          'Yes, on Saturday, December 7 at Roswell Movie Tavern at 10am.',
          'Yes, on Sunday, December 8 at Tucker Movie Tavern at 10am.',
          'I will not be able to make it.',
          'I am not sure.' ], label: 'Will your family be joining us at our annual holiday party?', input_html: { class: '' }, hint: 'There will be two separate holiday party options in different areas of Atlanta. Each will have the same movie showings with wishlist items, activities, and one large popcorn per household. Please choose the event day and movie showing that works best for your household!', include_blank: false %>
      </div>

      <div class='field' id='attendance_selection_wrapper'>
        <%= f.input :attendance_selection, collection: ['Elf', 'Moana 2', 'The Best Christmas Pageant Ever'], label: 'If Yes, which movie would you and your family like to watch?', input_html: { class: 'form-control' }, include_blank: false %>
      </div>

      <div class='field'>
        <%= f.input :is_support_requested, label: 'Do you need support with gifts for children in care?', collection: {'Yes' => true, 'No' => false}, input_html: { class: 'form-control' }, include_blank: false %>
      </div>

      <% unless @family.new_record? %>
        <div class='field'>
          <%= f.input :slug, input_html: { class: 'form-control' } %>
        </div>
      <% end %>
    </div>

    <div class='card-footer'>
      <%= f.button :submit, class: 'btn btn-primary btn-lg w-100' %>
    </div>
  </div>
<% end %>
