<div id="<%= dom_id sponsor %>">
  <p>
    <strong>Full name:</strong>
    <%= sponsor.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= sponsor.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= sponsor.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= sponsor.address %>
  </p>

</div>
