<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/flash_notices' %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Wishlist</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class='nav-item'>
              <%= link_to "Home", root_path, class: "#{'active' if params[:controller] == 'admin/pages'} nav-link" %>
            </li>
            <li class='nav-item'>
              <%= link_to "Events", admin_events_path, class: "#{'active' if params[:controller] == 'admin/events'} nav-link" %>
            </li>
            <li class='nav-item'>
              <%= link_to "Families", admin_families_path, class: "#{'active' if params[:controller] == 'admin/families'} nav-link" %>
            </li>
            <li class='nav-item'>
              <%= link_to "Wishlists", admin_lists_path, class: "#{'active' if params[:controller] == 'admin/lists'} nav-link" %>
            </li>
            <li class='nav-item'>
              <%= link_to "Wishlist Items", admin_list_items_path, class: "#{'active' if params[:controller] == 'admin/list_items'} nav-link" %>
            </li>
            <li class='nav-item'>
              <%= link_to "Sponsors", admin_sponsors_path, class: "#{'active' if params[:controller] == 'admin/sponsors'} nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                System
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Visits", admin_ahoy_visits_path, class: "#{'active' if params[:controller] == 'admin/ahoy_visits'} dropdown-item" %>
                </li>
                <li>
                  <%= link_to "Events", admin_ahoy_events_path, class: "#{'active' if params[:controller] == 'admin/ahoy_events'} dropdown-item" %>
                </li>
                <li>
                  <%= link_to "Users", admin_users_path, class: "#{'active' if params[:controller] == 'admin/users'} dropdown-item" %>
                </li>
                <li>
                  <%= link_to "Settings", admin_settings_path, class: "#{'active' if params[:controller] == 'admin/settings'} dropdown-item" %>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container'>
      <section class='py-4'>
        <div class='row'>
          <div class='col-sm-7'>
            <h1><%= @page_title %></h1>
          </div>

          <div class='col-sm-5 text-end'>
            <%= yield :page_actions %>
          </div>
        </div>
      </section>

      <%= yield %>
    </div>
  </body>
</html>
